:root {
    --border-color : #e6e6e6;
    /* 文字用の薄い灰色 */
    --name-color: #b3b3b3;
    --menu-color: #392F94;
    --menu-color-re: #E01716;
}

input, textarea {
    -webkit-appearance: none;
    border-radius: none;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 114px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 0.01px black;
    background-color: white;
}

.header-content {
    text-decoration: none;
}

.title {
    font-size: 40px;
}

.site-title {
    text-align: center;
    width: 100%;
}

.head-wrapper , .main-wrapper{
    width: 100%;
    display: flex;
    font-size: 16px;
}

.menu-content {
    width: 25%;
    text-align: center;
    margin: 1em 0;
}

.menu-text {
    font-weight: bold;
}

.menu-color {
    color: var(--menu-color);
}

.menu-text:hover {
    color: var(--menu-color-re);
}

.ad-space {
    width: 25%;
    text-align: center;
}

.main-space {
    width: 50%;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

::selection {
    background: var(--border-color);
    color: var(--menu-color-re);
}

.main-content {
    margin-top: 1em;
    padding: 1em;
}

.name {
    color: var(--name-color);
}

.form-wrapper {
    margin-left: 25%;
    margin-right: 25%;
}

.index {
    margin: 0;
}

.form-content {
    font-size: 20px;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
}

.forms {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2em;
}

.form-text   {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--name-color);
    margin-bottom: 1em;
}
.form-text:hover {
    border-bottom: var(--menu-color-re) solid 1px;
    transform: scale(1);
}

label {
    display: inline-block;
}

textarea {
    resize: none;
}

#text {
    outline: none;
    border: none;
    border: 1px solid var(--name-color);
    border-radius: 3px;
}

#text:hover {
    border: var(--menu-color-re) 1px solid;
}

.submit {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 2em;
    padding: 0.5em;
    border: var(--menu-color-re) solid 1px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    color: var(--menu-color-re);
    border-radius: 3px;
}

.submit:hover {
    background-color: var(--menu-color-re);
    color: white;
}

#endname {
    text-align: right;
}

footer {
    background-color: var(--menu-color);
    color: white;
    font-weight: bold;
    text-align: center;
}